@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color:#302E2E;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width: 5rem;
}

.cabecalho-links {
    font-size: 20px;
    margin-left: 35px;
    transition: .2s;
    color: rgb(211, 210, 210);
}

.cabecalho-links a:hover {
    color: #E71818;
}

#menu-hamburguer {
    font-size: 2.3rem;
    cursor: pointer;
    color: #ffffff;
    border-radius: .3rem;
    padding: .5rem 3rem;
    display: none;
}


.imc{
    background-color: #222121;
    margin: 10% 35% 17% 35%;
    padding-top: 3rem;
    padding-bottom: 5rem;
    color: #f2f2f2;
   text-align: center;
    border: 1px solid #E71818;
}
.titulo{
    font-size: 3rem;
    padding-bottom: 1rem;
    font-family: 'bebas Neue', sans-serif;
    
}

.txt-peso{
    font-family: 'bebas Naue', sans-serif;
    font-size: 23px;
    margin-top: 1.5rem;
    text-align: auto;
}
#peso{
    margin-top: .1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 5rem;
}

.txt-altura{
    font-family: 'bebas Naue', sans-serif;
    font-size: 23px;
    margin-top: 1.5rem;
    text-align: auto;
}
#altura{
    margin-top: .1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 5rem;
}

.botao{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.botao-calcular{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #E71818;
    font-size: 1rem;
    gap: 1rem;    
    padding: 0.6rem 4.9rem 0.6rem 4.9rem;
    border-radius: 0.5rem;
}
.botao-calcular:hover{
    background-color: #cc1414;
}

.txt-resultado{
    font-family: 'bebas Naue', sans-serif;
    font-size: 23px;
    margin-top: 1.5rem;
    text-align: auto;
    margin-bottom: 1%;
}

#resultado{
    margin-top: .1rem;
    border-radius: 1.5rem;
    padding: 2rem 5rem;
}







footer {
    margin-top: 7%;
    background: #11141a;
    text-align: center;
}


.copyright {
    padding: 2rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 1.3rem;
}

.copyright span {
    color: #E71818;
}





@media (max-width: 1015px){
    

    #menu-hamburguer {
        display: initial;
    }

    .cabecalho {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #000000;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .cabecalho.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

   .cabecalho a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid #E71818;
        background: #1d1d1d;
    }

}