@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root{
    --cor-header:#11141a;
    --cor-background: #ECECEC;
    --cor-background-login: #FBFBFB;
    --cor-hover-branco:#afaeae;
    --cor-destaque: #E71818;
    --cor-hover-verm: #cc1414;
    --cor-texto:#0f0f0f;
    --cor-branca:#ffffff;
    --cor-background-dark: #302E2E;
    --cor-background-login-dark: #222121;
    --cor-texto-dark:#F4ECEC;
    --cor-preta:#000000;
}


*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.escuro body{
    background-color: var(--cor-background-dark);
}
.escuro .login{
    background-color: var(--cor-background-login-dark);

}
.escuro .titulo{
    color: var(--cor-texto-dark);
}
.escuro .login-dados-nome{
    color: var(--cor-texto-dark);
}

body{
   
    background-color:var(--cor-background);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 120px;
    background: var(--cor-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}



.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;

}

input[type="checkbox"]:checked ~ .check{
    background: #fff;
    
}
.check:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check:before{
    transform: translateX(-50px);
    
}

.check:after{
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .check:after{
    transform: translateX(0px);
}

.logo{
    width: 5rem;
}


.cabecalho-links {
    font-size: 20px;
    padding-right: 2.2rem;
    margin-left: 17px;
    transition: .2s;
    color: rgb(211, 210, 210);
}

.cabecalho-links:hover {
    color: var(--cor-destaque);
}

#menu-hamburguer {
    font-size: 2.3rem;
    cursor: pointer;
    color: var(--cor-branca);
    border-radius: .3rem;
    padding: .5rem 3rem;
    display: none;
}

.login{
    background-color: var(--cor-background-login);
    margin: 10% 33% 10% 33%;
    padding-top: 3rem;
    padding-bottom: 5rem;
    color:  var(--cor-texto);
    text-align: center;
    border: 1px solid var(--cor-destaque);
}
.titulo{
    font-size: 3rem;
    padding-bottom: 1rem;
    font-family: 'bebas Neue', sans-serif;
    
}

.login-dados-nome{
    font-family: 'bebas Neue', sans-serif;
    font-size: 23px;
    margin-top: 1.5rem;
    text-align: auto;
}
.login-dados-campos{
    margin-top: .1rem;
    border-radius: 1.5rem;
    padding: 0.5rem 5rem;
    border: 2px solid var(--cor-destaque);
    
}

.login-botoes{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.login-botoes-entrar{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    color: var(--cor-branca);
    background-color: var(--cor-destaque);
    font-size: 1rem;
    gap: 1rem;    
    padding: 0.6rem 4.9rem 0.6rem 4.9rem;
    border-radius: 0.5rem;
}
.login-botoes-entrar:hover{
    background-color: var(--cor-hover-verm);
}

.login-botoes-cadastrar{
    display: flex;
    justify-content: center;
    color: var(--cor-hover-verm);
    background-color: #ffffff;
    font-size: 1rem;
    padding: 0.6rem 3.4rem 0.6rem 3.4rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
}
.login-botoes-cadastrar:hover{
    background-color: #afaeae;
}

footer {
    margin-top: 7%;
    background: #11141a;
    text-align: center;
}


.copyright {
    padding: 2rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 1.3rem;
}

.copyright span {
    color: var(--cor-destaque);
}
.btn {
    display: inline-block;
    padding: .5rem 2rem;
    border: .2rem solid var(--cor-destaque);
    color: var(--cor-destaque);
    cursor: pointer;
    font-size: 1rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 2rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--cor-destaque);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: var(--cor-branca);
}

.share {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}



@media (max-width: 1300px){
    .login{
        margin: 10% 28% 17% 28%;
    }
    .cabecalho-links{
        font-size: 90%;
    }
    
    
}

@media (max-width: 1015px){
    

    #menu-hamburguer {
        display: initial;
    }

    .cabecalho {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #000000;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .cabecalho.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

   .cabecalho a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--cor-destaque);
        background: #1d1d1d;
    }

    .login{
        margin: 10% 23% 17% 23%;
    }
}

@media (max-width: 800px){
    .login{
        margin: 10% 15% 17% 15%;
    }
    
}

@media (max-width: 600px){
    .login{
        margin: 10% 6% 17% 6%;
    }
    .login-dados-campos{
        margin-top: .1rem;
        border-radius: 1.5rem;
        padding: 0.5rem 3rem;
    }
}