@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap');

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    padding: 0%;
    margin: 0%;
    background-color:  #302E2E;
    text-align: center;
    font-family: 'Roboto';
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width: 5rem;
}

.cabecalho-links{
    color: white;
    font-size: 20px;
    margin-left: 35px;
    transition: .2s;
}

.cabecalho-links:hover{
    color: #E71818;
}

.rodape{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0% 39% 0% 30%;
    margin-top: 40%;
    background-color: black;


}
.footer-logo{
    width: 17%;
}

.footer-copy{
    padding-top: 7%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;

    width: 846px;
    height: 46px;

}

.mapa{
    text-align: center;
    margin-left: 35%;
}

iframe{
    padding: 0px;
    margin-right: 900px;
    margin-top: 50px;
    align-items: center;
}

